@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-login: 'Login', cursive;
    --cor00: #172026;
    --cor01: #5FCDD9;
    --cor02: #027373;
    --cor03: #04BFAD;
    --cor04: #04BF9D;
}

body {
    font-family: var(--font-login);
    background-color: var(--cor00);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: auto;
    background-color: var(--cor02);
    width: 400px;
    height: 580px;
    border-radius: 5px;
}

header h1 {
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color: var(--cor01)
}

nav {
    color: white;
    font-size: 1.4em;
    position: relative;
    margin: 10px;
    text-align: left;
    margin-top: 5%;
}

nav input {
    border: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 98%;
    font-size: 1em;
    padding-left: 6px;
}

#btn_enviar {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    width: 99%;
    margin-top: 10%;
    font-size: 1em;
}

#btn_enviar:hover {
    background-color: var(--cor01);
    transition: ease-in-out .3s;
}

hr {
    border: 1px solid #172026;
    width: 98%;
    margin: auto;
}

p {
    text-align: center;
    font-size: 1.3em;
    color: var(--cor01);
    margin-top: 5%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--cor03);
}

.error {
    background-color: orangered;
    color: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    margin-top: 20px;
}